@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/Recoleta-SemiBold.woff2') format('woff2'),
        url('/fonts/Recoleta-SemiBold.woff') format('woff'),
        url('/fonts/Recoleta-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}


.title {
    font-family: 'Recoleta', Georgia, serif;
    color: #163A24;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
}

.text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
.row {
    display: flex;
    flex-flow: row wrap;
}

#hero {
    background-color: #163a24;
    color: #fff;
}

header {
    padding: 20px 0;
    margin-bottom: 15px;
}

.row.header {
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    margin-left: 24px;
}

.navbar-link {
    color: #fbfaf7;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.btn-get .navbar-link {
    background-color: #198c36;
    padding: 15px 25px;
    border-radius: 26px;
}

.hero-content {
    align-items: center;
}

.hero-desc {
    width: 492px;
}

.hero-title {
    font-family: 'Recoleta', Georgia, serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    width: 391px;
    margin-bottom: 18px;
    color: #fbfaf7;
}

.hero-text {
    width: 475px;
}

#story {
    padding: 120px 0;
}

.story-content {
    justify-content: center;
    align-items: center;
}

.story-img,
.story-desc {
    flex-basis: 50%;
}

.story-title {
    font-family: 'Recoleta', Georgia, serif;
    color: #163A24;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 27px;

}

.story-text {
    width: 380px;
    color: #163A24;
}


.partner {
    padding-top: 114px;
}

.partner-title {
    font-family: 'Recoleta', Georgia, serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #163A24;
}

.partner-list {
    justify-content: space-around;
    align-items: center;
    margin-top: 67px;
}


.customers-title {
    text-align: center;
    color: #FBFAF7;
    margin-bottom: 74px;

}

.customers-list {
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}

#customers {
    padding-top: 66px;
    padding-bottom: 120px;
    background-color: #163A24;
    color: #fff;
}

.customers-img {
    margin: 0 auto;
    display: block;
    margin-bottom: 28px;

}

.customers-text {
    color: #FBFAF7;
    text-align: center;
}

#employess {
    background-color: #F2EFE6;
    padding-top: 120px;
    padding-bottom: 135px;
    margin-bottom: 180px;
}

.employees-title {
    text-align: center;
    color: #163a24;
    margin-bottom: 27px;
}

.employess-text {
    color: #163A24;
    width: 760px;
    margin: 0 auto;
    text-align: center;
}

#scenes {
    margin: 0 130px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;
}

.scenes-content {
    margin: 100px;
    
}
.scenes-title {
    margin-bottom: 27px;
}
.scenes-text {
    color: #163a24;
}

#services {
    margin-bottom:120px;
}
.services-content {
    text-align: center;
}

.services-title {
    margin-bottom: 26px;
}

.services-text {
    margin-bottom: 18px;
}

.services-cards{
    justify-content: space-around;
}

.services-card-item {
    width: 353px;
    height: 393px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #E9E4D5;
    padding: 50px 40px 60px 40px;
    text-align: left;
}

.card-long {
    height: 430px;
}
.services-card-item img {
    margin-bottom: 20px;
}
.card-title {
    font-family: 'Recoleta', Georgia, serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #163A24;
    margin-bottom: 23px;
}

.card-list {
    margin-left: 25px;
    text-align: left;
    
}
.card-list-item {
    list-style-type: disc;
    color: #163a24;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}